@import url('./root.css');

.modal {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  max-width: 800px;
  max-height: 500px;
  border: 2px solid var(--MAIN_GREEN);
  position: absolute;
  background-color: var(--MAIN_BG);
  border-radius: 10px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  /* z-index: 10; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  background-color: #0005;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.close {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #0000;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close img {
  width: 25px;
  height: 25px;
}

.close:focus {
  outline: 2px solid var(--MAIN_GREEN);
  border-radius: 4px;
}

.about-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#hero {
  width: 150px;
}

#about-me {
  width: calc(100% - 20px);
  text-align: center;
  font-family: 1.2rem;
  color: var(--MAIN_BLACK);
  margin-top: 20px;
}

#about-me a {
  color: #f60;
}

.modals-title {
  width: 100%;
  text-align: center;
  color: var(--MAIN_BLACK);
}

.tech-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: var(--MAIN_BLACK);
}

.tech-stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 15px;
}

.stack-fig {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  width: 100px;
  padding: 5px;
  margin: 10px;
}

.stack-fig img {
  width: 90px;
}

.stack-fig figcaption {
  font-style: italic;
  margin-top: 10px;
}

#exp-modal {
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.experience-content {
  overflow: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.exp-fig {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px;
}

.exp-fig a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  text-decoration: none;
  color: var(--MAIN_BLACK);
}

.exp-fig a img {
  width: 100%;
}

.contact-modal {
  max-height: 600px;
}

.contact_form, .contact_ws {
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.input_area {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5px;
  margin-bottom: 15px;
}

.input_area label {
  width: 100%;
  text-align: center;
  color: var(--MAIN_GREEN);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.contact_input, .contact_textarea, #ws_contact_message {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid var(--MAIN_GREEN);
  color: var(--MAIN_GREEN);
  border-radius: 8px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.1rem;
  font-family: 'Cabin', sans-serif;
  background-color: var(--MAIN_BG);
}

.contact_input:-webkit-autofill,
.contact_input:-webkit-autofill:hover, 
.contact_input:-webkit-autofill:focus, 
.contact_input:-webkit-autofill:active,
.contact_textarea:-webkit-autofill,
.contact_textarea:-webkit-autofill:hover, 
.contact_textarea:-webkit-autofill:focus, 
.contact_textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--MAIN_BG) inset !important;
  box-shadow: 0 0 0 30px var(--MAIN_BG) inset !important;
  font-size: 1.1rem;
  font-family: 'Cabin', sans-serif !important;
  -webkit-text-fill-color: var(--MAIN_GREEN) !important;
  color: var(--MAIN_GREEN) !important;
}

.contact_textarea {
  height: 200px;
}

.contact_textarea:focus-visible {
  height: 200px;
}

.contact_form[aria-expanded="true"], .contact_ws[aria-expanded="true"] {
  display: flex;
}

.send_button {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--MAIN_GREEN);
  color: var(--MAIN_BLACK);
  border-radius: 5px;
  min-width: 100px;
  height: 50px;
  background-color: #0000;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: 'Cabin', sans-serif;
  position: relative;
  overflow: hidden;
  transition: all .4s;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.send_button:hover {
  margin-top: -8px;
  margin-bottom: 18px;
  background-color: var(--MAIN_GREEN_TRANS);
}

.send_button:focus {
  background-color: var(--MAIN_GREEN_TRANS);
  animation: bump .3s linear;
}

@keyframes bump {
  0%, 100% {
    margin-top: 0;
    margin-bottom: 5px;
  } 50% {
    margin-top: -8px;
    margin-bottom: 18px;
  }
}

.swap_button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: calc(60px / 2);
  border: none;
  background-clip: padding-box;
  background-color: #0000;
  transition: all .3s;
}

.swap_button::after {
  position: absolute;
  width: 58px;
  height: 58px;
  content: '';
  border-radius: calc(58px / 2);
  background-color: var(--MAIN_BG);
  background-size: 40px;
  border: 2px solid var(--MAIN_GREEN);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ws_button::after {
  background-image: var(--WS_IMG);
}

.msg_button::after {
  background-image: var(--MS_IMG);
}

.swap_button::before {
  position: absolute;
  content: attr(data-message);
  right: 0;
  top: 0;
  margin-top: 10px;
  background-color: var(--MAIN_BLACK_TRANS);
  color: var(--MAIN_BLACK);
  transition: all .3s;
  word-break: keep-all;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  width: 20px;
  margin-right: 10px;
  overflow: hidden;
}

.swap_button:hover::before, .swap_button:focus::before {
  width: 180px;
  margin-right: 80px;
}