:root {
  --MAIN_GREEN: #4bee29;
  --MAIN_GREEN_TRANS: #4bee2988;
  --MAIN_BG: #D8DBEE;
  --MAIN_BLACK: #191C2F;
  --MAIN_BLACK_TRANS: #191C2F66;
}
[data-theme='dark'] {
  --MAIN_GREEN: #37A71F;
  --MAIN_GREEN_TRANS: #37A71F88;
  --MAIN_BG: #191C2F;
  --MAIN_BLACK: #E8E8E8;
  --MAIN_BLACK_TRANS: #F2F4FF66;
}